figure {
  margin: 0;
  padding: 0;
}

.container {
  color: white;
  text-align: center;
}

.container a {
  color: white;
}

.container h1 {
  margin-bottom: 22px;
  line-height: 66px;
}

.container h2 {
  font-weight: normal;
  margin-bottom: 36px;
  line-height: 26px;
}

.player-wrapper {
  width: 95%;
  margin: 20px auto;
  box-shadow: 0 0 30px rgba(0,0,0,0.7);
}
